!!!5
%head
  %title FFS
  %meta{ name:'viewport', content: 'initial-scale=1.0, maximum-scale=1.0, width=device-width' }
  = stylesheet_link_tag 'application', media: 'all'
  = stylesheet_link_tag '//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css', media: 'all'
  = csrf_meta_tags

%body
  = yield

  / If you don't request this file, subsequent reqs fail for required JS objs
  / Keep a version of this file around for test suite.
  = javascript_include_tag '//maps.googleapis.com/maps/api/js?key=AIzaSyBPvLt6QSnOzvJSwG0Wi3ol5bMGPiAEdCg'
  = javascript_include_tag 'application'

  = yield :bottom
